body.light {
    --color-primary: #DFAF6C;
    --color-secondary: #82A69D;
    --color-terciary: #DBE3E9;
    --color-accent: #D39BAF;
    --color-text: #0B0F13;
    --color-background: #E6EEF4;
    --color-good: #6CDF89;
    --color-bad: #DF6C6C;
}
body.dark {
    --color-primary: #926320;
    --color-secondary: #597D74;
    --color-terciary: #161E24;
    --color-accent: #632C3F;
    --color-text: #ECF0F4;
    --color-background: #081319;
    --color-good: #429056;
    --color-bad: #9D4747;

}
